<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.cmu.chimps.starbucksplugin">

    <application android:allowBackup="true"
        android:icon="@drawable/starbucks"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".StarbucksSettingActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:label="StarBucks"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".StarbucksPlugin"
            android:label="Starbucks">
            <intent-filter>
                <action android:name="edu.cmu.chimps.messageontap.Plugin" />
            </intent-filter>
            <meta-data android:name="description"
            android:value="order coffee" />
            <meta-data android:name="settingsActivity"
                android:value=".StarbucksSettingActivity" />
        </service>
    </application>

</manifest>